name: Build Verification

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "22"

      - name: Install dependencies
        working-directory: expert-matcher-ui
        run: yarn install

     
        
      - name: Format code
        working-directory: expert-matcher-ui
        run: yarn format

      - name: Commit formatted code
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add .
          git commit -m "Auto-format code" || echo "No changes to commit"

      - name: Build project
        working-directory: expert-matcher-ui
        run: yarn build

